In [ ]:
"""
Please push a notebook with answers to the following questions to github when youâ€™re done
1. Lookup information on geometric mean and harmonic mean to answer the following
questions:
a. In a jupyter notebook create a markdown section for each of the three concepts:
arithmetic mean, geometric mean, and harmonic mean
b. Write a definition for arithmetic mean, geometric mean, and harmonic mean,
under their respective headings
c. Write an example code example for arithmetic mean, geometric mean, and
harmonic mean using the Belize Airbnb data in a cell under the each respective
summary in markdown
"""

In [18]:
import matplotlib.pyplot as plt
import pandas as pd
import statistics
import scipy.stats
#from scipy import stats

In [5]:
airbnb_df = pd.read_csv("belize_airbnb_listings.csv")
display(airbnb_df.head())

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

## Arithmetic Mean

 Arithmetic mean is the simple average, or sum of the series of numbers divided by the count of that series of numbers.

In [25]:
#Code exmaple for airbnb data
# Average price of airbnb price from all the records
print("Average price:", airbnb_df["price"].mean())
print("Average price:", airbnb_df[["price","number_of_reviews"]].mean())


#Average price per neighourhood
airbnb_df.groupby("neighbourhood")["price"].mean()

Average price: 357.1022889842632
Average price: price                357.102289
number_of_reviews     14.453505
dtype: float64

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [47]:
#Code example
sum_of_set = 0
num_set = [8,16,22,12,41,9,6,7,19,21]
n = len(num_set)

#get the product
for i in num_set:
    sum_of_set = sum_of_set + i

arithmeticMean = (sum_of_set/n)

print ('The Arithmetic Mean is: ' + str(arithmeticMean))

The Arithmetic Mean is: 16.1

## Geometric Mean

The geometric mean is a mean or average, whcih indicates the central tendency or typical values of a set of numbers
by using the product of thier values as opposed to sum of values in arithmatic mean

In [19]:
#Code exmaple - for airbnb data

print("Geometric Mean of airbnb price:", scipy.stats.gmean(airbnb_df["price"]))

Geometric Mean of airbnb price: 234.7347175108817

In [48]:
#Code example
product = 1
num_set = [8,16,22,12,41,9,6]
n = len(num_set)

#get the product
for i in num_set:
    product = (product)*(i)

geometricMean = (product)**(1/n)

print ('The Geometric Mean is: ' + str(geometricMean))

The Geometric Mean is: 13.330791332278064

 ## Harmonic Mean
The harmonic mean is the reciprocal of the average of the reciprocals.It is calculated by dividing the number of observations by the reciprocal of each in the series. Thus, the harmonic mean is the reciprocal of the arithmatic mean of reciprocals.

In [17]:
#Code exmaple for airbnb data
print("Harmonic Mean of airbnb price:", statistics.harmonic_mean(airbnb_df["price"]))

Harmonic Mean of airbnb price: 170.9933850102646

In [49]:
#code example
num_set = [ 12, 14.5, 18, 15.2, 9 , 6 ]
n = len(num_set)

# initialize with zero.
sum_of_set = 0
for i in num_set :
    sum_of_set = sum_of_set + (1) / i
    
harmonicMean = n / sum_of_set
    
print("Harmonic Mean is:", harmonicMean)

Harmonic Mean is: 10.880965441579814